<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flabedu.small.small.mapper.CategoryMapper">

    <select id="findCategory" resultType="com.flabedu.small.small.dao.CategoryItemCountDao">
        select c.CATEGORY_ID ,c.PARENT as parentId ,c.NAME
        ,SUM(case when ic.ITEM_CATEGORY_ID is not null then 1 else 0 end) as itemCount
        from category c left outer join item_category ic
        on c.CATEGORY_ID = ic.CATEGORY_ID
        group by c.CATEGORY_ID ,c.PARENT ,c.NAME
        ;
    </select>

</mapper>
