<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flabedu.small.small.mapper.ItemMapper">

    <insert id="addItem" parameterType="com.flabedu.small.small.model.Item"
            useGeneratedKeys="true" keyProperty="itemId">
        <selectKey order="AFTER" resultType="long" keyProperty="itemId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item (name, engname, gender, price, regist_userid, regist_date, modified_userid, modified_date)
        values (#{name}, #{engName}, #{gender}, #{price}, #{registUserid}, #{registDate}, #{modifiedUserid}, #{modifiedDate})
    </insert>

    <insert id="addItemCategory" parameterType="map">
        insert into item_category (item_id, category_id, regist_userid, regist_date, modified_userid, modified_date)
        values (#{item.itemId},#{itemCategory}, #{item.registUserid}, #{item.registDate}, #{item.modifiedUserid}, #{item.modifiedDate})
    </insert>

    <insert id="addItemImage" parameterType="map">
        insert into item_image (item_id,seq,filename)
        values
        <foreach collection="itemImages" separator="," item="image" index="i">
            (#{itemId}, #{i}+1, #{image})
        </foreach>
    </insert>

    <insert id="addItemDetail" parameterType="map">
        insert into item_detail (item_id,stock,size)
        values
        <foreach collection="itemDetails" separator="," item="itemDetail">
            (#{itemId}, #{itemDetail.stock}, #{itemDetail.size})
        </foreach>
    </insert>

    <select id="findItemAll" resultType="com.flabedu.small.small.model.Item">
        select * from item;
    </select>

    <select id="findItemById"
            parameterType="java.lang.Long"
            resultType="com.flabedu.small.small.model.Item">
        SELECT * FROM item WHERE item_id = #{id}
    </select>

    <select id="findItemDetailAll" resultType="com.flabedu.small.small.model.ItemDetail">
        SELECT * FROM item_detail
    </select>

    <select id="findItemDetail"
            parameterType="map"
            resultType="com.flabedu.small.small.model.ItemDetail">
        SELECT * FROM item_detail WHERE ITEM_ID = #{itemId} AND SIZE = #{size}
    </select>

    <select id="findItemDetailByItemId"
            parameterType="java.lang.Long"
            resultType="com.flabedu.small.small.model.ItemDetail">
        SELECT * FROM item_detail WHERE ITEM_ID = #{itemId}
    </select>

    <select id="findItemImagesByItemId"
            parameterType="long"
            resultType="com.flabedu.small.small.model.ItemImage">
        SELECT * FROM item_image WHERE ITEM_ID = #{itemId} ORDER BY SEQ
    </select>

    <select id="findItemImagesNameByItemId"
            parameterType="long"
            resultType="java.lang.String">
        SELECT filename FROM item_image WHERE ITEM_ID = #{itemId} ORDER BY SEQ
    </select>

    <select id="getCategoryInfo"
            parameterType="long"
            resultType="com.flabedu.small.small.model.CategoryInfo">
        SELECT P.name "category", C.NAME "subCategory" FROM
            (SELECT * FROM category
                WHERE category_id in
                (SELECT category_id from item_category WHERE item_id = #{itemId})
            ) C
        INNER JOIN category P
        ON C.parent = P.category_id;

    </select>

    <update id="setStock"
            parameterType="map">
        Update item_detail SET stock = #{stock} where item_detail_id = #{detailId}
    </update>

</mapper>
