<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flabedu.small.small.repository.ItemRepository">
    <resultMap id="itemMap" type="com.flabedu.small.small.model.Item">
    </resultMap>

    <insert id="addItem" parameterType="com.flabedu.small.small.model.Item"
            useGeneratedKeys="true" keyProperty="itemId">
        <selectKey order="AFTER" resultType="long" keyProperty="itemId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item (name, engname, gender, price, regist_userid, regist_date)
        values (#{name}, #{engName}, #{gender}, #{price}, #{registUserId}, now())
    </insert>

    <insert id="addItemCategory" parameterType="com.flabedu.small.small.model.Item">
        insert into item_category (item_id, category_id,regist_userid,regist_date)
        values (#{itemId},#{subCategory}, #{registUserId}, now())
    </insert>

    <insert id="addItemImage" parameterType="map">
        insert into item_image (item_id,seq,filename)
        values
        <foreach collection="itemImages" separator="," item="image" index="i">
            (#{itemId}, #{i}+1, #{image})
        </foreach>
    </insert>

    <insert id="addItemDetail" parameterType="map">
        insert into item_detail (item_id,stock,size)
        values
        <foreach collection="itemDetails" separator="," item="itemDetail">
            (#{itemId}, #{itemDetail.stock}, #{itemDetail.size})
        </foreach>
    </insert>


</mapper>
