<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.small.small.mapper.MemberMapper">

    <select id="list" resultType="com.flabedu.small.small.dao.Member">
        select * from member;
    </select>

    <select id="findMemberById"
            parameterType="java.lang.String"
            resultType="com.flabedu.small.small.dao.Member">
        Select * From member where USERID = #{userID}
    </select>


</mapper>
