<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.small.small.mapper.OrdersMapper">

    <insert id="insertOrders"
            parameterType="com.flabedu.small.small.dao.OrdersDAO"
            useGeneratedKeys="true"
            keyProperty="orderId">
             INSERT INTO orders
             (member_id, total_price, status, orders_date, modified_date)
             values(#{memberId}, #{totalPrice}, #{status}, #{ordersDate}, #{modifiedDate})
    </insert>

    <select id="findOrdersById"
            parameterType="java.lang.Long"
            resultType="com.flabedu.small.small.dao.OrdersDAO">
        SELECT * FROM orders WHERE orders_id = #{orderId}
    </select>


</mapper>
