<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.small.small.mapper.OrdersItemMapper">
    <resultMap id="ordersItemMap" type="com.flabedu.small.small.dao.OrdersItemDAO">
        <id property="itemId" column="itemId"/>
        <id property="itemDetailId" column="itemDetailId"/>
        <id property="ordersItemCount" column="rdersItemCount"/>
        <id property="price" column="price"/>
    </resultMap>
    <insert id="saveOrderDetails"
            parameterType="map"
    >
        Insert into orders_item(
            orders_id, item_id, item_detail_id, orders_item_count, price
            ) values
            <foreach collection="items" separator="," item="item">
             (
                #{ordersId}, #{item.itemId}, #{item.itemDetailId}, #{item.ordersItemCount}, #{item.price}
            )
            </foreach>
    </insert>

    <select id="findOrderDetailById"
            parameterType="long"
            resultType="com.flabedu.small.small.dao.OrdersItemDAO">
        select * from orders_item where orders_id = #{ordersId}
    </select>



</mapper>
